@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Exo+2:wght@300&family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body{
	margin:0;
}

div[class^='about'][class$='belt']{
	color: white;
	border-radius: 5px;
}

input:focus, textarea:focus, input:hover, textarea:hover{
	background: rgba(235,54,163,0.9);
	color: white;
}

input, textarea, label{
	font-size: 1.5em;
	box-sizing:border-box;
}

.main-section__wrapper {
	overflow: hidden;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.section-visible__wrapper{
	z-index: 5;
	background: white;
	width: 100%;
	height: 140%;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 99vh;
}

.main-section__wrapper:before{
	border-bottom: 2px solid rgba(235,54,163,0.99);
	background: unset;
  	position: absolute;
	width: 100%;
  	content: '';
  	top: 6em;
  	z-index:6;
}

.section-nav__wrapper{
	width: 70vw;
	background: white;
}

.section-nav__wrapper, .section-main__content{
	background: white;
}
.additional-nav__wrpapper{
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	height: 6em;
    align-items: center;
}

.additional-nav__left{
	width: 60%;
	justify-content: flex-start;
}

.additional-nav__right{
	width: 40%;
	justify-content: flex-end;
}

.additional-nav__left, .additional-nav__right, .main-nav{
	display: flex;
	margin: 0 auto;
	flex-direction: row;
}

.additional-initials{
	font-weight: 700;
	margin: 1% 0;
}

.additional-initials, .section-footer__third-line{
	font-family: 'Merriweather', serif;
}

.additional-nav__button{
	margin: 1% 0 1% 4%;
	font-family: 'Akaya Telivigala', cursive;
	color: rgba(103,103,103,0.99);
}

.additional-nav__right>.additional-nav__button:hover{
	color:rgba(235,54,163,0.99);
} 

.additional-nav__left >.additional-nav__button:hover, .additional-nav__left >.additional-nav__button:focus{
	background: rgba(235,54,163,0.99);
	border-bottom-left-radius: 60% 40px;
    border-bottom-right-radius: 60% 40px;
    border-top-left-radius: 60% 40px;
    border-top-right-radius: 60% 40px;
    padding: 0 3%;
    color: white;
}

.additional-nav__button, .additional-initials{
	font-size: 1.2em;
}

.main-nav__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-nav{
	padding: 7% 0;
	align-items: flex-start;
	width: 100%;
}

.main-nav__items{
	width: 50%;
	display: flex;
	margin: auto 0;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: start;
}

.main-nav__title *{
	margin: 0 auto;
}
.main-nav__title span{
	color: rgba(235,54,163,0.99);
}

.main-nav__title p{
	font-family: 'Exo 2', sans-serif;
	font-size: 1.5em;
}

.main-nav__title h1{
	font-family: 'Merriweather', serif;
	font-size: 3em;
}
.main-nav__buttons{
	width:100%;
	padding-top: 2%;
}

.main-nav__buttons a{
	font-family: 'Akaya Telivigala', cursive;
	color: rgba(235,54,163,0.99);
	background-color: unset;
	border: 2px solid rgba(235,54,163,0.99);
	border-color: rgba(235,54,163,0.99);
	border-bottom-left-radius: 50% 60px;
	border-bottom-right-radius: 50% 60px;
	border-top-left-radius: 50% 60px;
	border-top-right-radius: 50% 60px;
	padding: 1% 4%;
	text-decoration:none;
}

.nav-image__wrapper{
	width: 100%;
	margin-right: -21%;
	background: rgba(235,54,163,0.99);
  	border-top-left-radius: 179px;
  	border-bottom-left-radius: 179px; 
}

.nav-image {
  	width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 20px;
    border-radius: 50%;
    border: 15px solid white;
    display: flex;
    align-items: center;
    justify-content: center; 	
    background: white;	
}

.nav-image img {
  	min-width: 100%;
  	height: auto;
  	border: 0.6em solid white;
  	box-shadow:5px 5px 20px black;
  	object-position: center;
  	object-fit:cover;
}

.main-content__wrapper{
	width: 100%;
	margin-top: 17em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index:5;
}

.section-about__wrapper{
	background: rgba(255,255,255,0.99);
	width: 70vw;
	margin-top: 7%;
	transform: translateY(25%);
	border-radius: 30px;
}

.section-about__main{
	border-radius: 30px;	
	overflow: hidden;
	height: 100%;
	box-shadow: 33px 1px 30px -35px black, -33px 1px 30px -35px black;
	padding-bottom: 9%;
}

.section-about__main p{
	margin: 1%;
}

.section-about__nav {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	background: rgba(235,54,163,0.99);
}

.about-nav__wheels{
	width: 90%;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.about-nav__wheels *{
	width:1em;
	height: 1em;
	margin-right: 1%;
	border-radius: 100%;
	margin: 0.5em;
}
.nav-wheels_first{
	background: red;
}
.nav-wheels_second{
	background: yellow;
}
.nav-wheels_third{
	background: green;
}
.about-nav__text{
	min-width: 68px; 
	width: 10%;
	color: white;
	font-size: 1.3em;
}

.section-about__title{
	font-size: 3em;
	padding-left: 5%;
}

.section-about__title, .section-about__nav, .section-projects__title, .section-contacts__title {
	font-family: 'Oleo Script', cursive;
} 

.section-about__content{
	padding-left: 10%;
	width: 90%;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.section-about__title span, .section-about__content span{
	color: rgba(235,54,163,0.99);
}

.section-about__Me{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.section-about__Me, .section-about__skills{
	width: 45%;
	font-size: 1.5em;
}

.section-about__Me pre{
	word-break: keep-all;
	white-space: pre-line;
}

.section-about__Me pre p{
	padding-left: 10%;
	color: rgba(235,54,163,0.99);
}

 .section-about__Me > p:first-child, .section-about__skills > p:first-child{
	font-size: 2em;
}

.section-about__skills{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.section-about__skills:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	height: 90%;
	width: 1px;
	border-left: 1px solid rgba(235,232,234,0.99);
}

.section-about__belt{
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 10%;
}

.section-about__belt > div{
	display: flex;
	margin: 0.5% auto;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 2% 1%;
	width: 26vw;
}

.about-belt__item{
	width: 80%;
	padding: 1% 2%;
	border-radius:10px;
}

.section-about__html > .about-belt__item{
 	background: linear-gradient(to right,  rgba(235,54,163,0.99) 75%, rgba(217,217,217,0.99) 25%);	
}
.section-about__css > .about-belt__item{
 	background: linear-gradient(to right,  rgba(235,54,163,0.99) 75%, rgba(217,217,217,0.99) 25%);
}
.section-about__js > .about-belt__item{
 	background: linear-gradient(to right,  rgba(235,54,163,0.99) 75%, rgba(217,217,217,0.99) 25%);
}
.about-belt__item{
 	background: rgba(217,217,217,0.99);
}

.section-about__value{
	padding: 0 3%;
}

.section-line__above{
	background: unset;
    box-shadow: 0 133px 0 38px rgba(235,232,234,0.99);
    border-radius: 50%;
    height: 355px;
    width: 150%;
    transform: translateY(-235%);
    position: relative;
    z-index: -1;
}
.section-line__under{
	background: unset;
    box-shadow: 0 133px 0 38px rgba(235,232,234,0.99);
    border-radius: 50%;
    height: 355px;
    width: 150%;
    transform: translateY(-300%);
}

.section-projects__wrapper{
	width: 100%;
	min-height: 100vh;
	margin-top: -64em;
	padding: 50px;
	margin: -64em 15vw 0;
	background: rgba(235,232,234,0.99);
	z-index: 6;
}

.section-projects__title{
	margin: 1em 0 1em -15vw;
	font-size: 3em;
	width: 4em;
	padding: 1.3% 3% 1.3% 40%;
	background: rgba(235,54,163,0.99);
	border-top-right-radius: 25% 150%;
  	border-bottom-right-radius: 25% 150%;
  	color: white;
  	display: flex;
  	justify-content: flex-end;
}

.section-projects__title p{
	margin:0;
}

.section-projects__nav{
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.section-projects__nav input{
	margin: 0.5%;
	padding: 1% 1.5%;
	background-color: unset;
	border: unset;
	font-size: 1.7em;
	min-width: 160px;	
}

.section-projects__nav input:focus, .section-projects__nav input:hover{
	border-radius: 60px;
	outline: unset;
	background: rgba(235,54,163,0.99);
}

.section-projects__content{
	width: 100%;
}

.section-contacts__title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(235,232,234,0.99);
}

.section-contacts__title:before{
	  content: '';
      position: absolute;
      top:auto;
      bottom: -6em;
      right: -0.2%;
      height: 10em;
      width: 50.3%;
      background: rgba(235,232,234,0.99);
      transform: skew(0deg, -6deg);
      border-bottom-right-radius: 5% 70px;
}
.section-contacts__title:after{
	  content: '';
      position: absolute;
      top:auto;
      bottom: -6em;
      left: -0.2%;
      height: 10em;
      width: 50.3%;
      background: rgba(235,232,234,0.99);
      transform: skew(0deg, 6deg);
      border-bottom-left-radius: 5% 70px;
}

.section-contacts__title p{
	position: relative;
    font-size: 3.5em;
    margin-bottom: -2em;
    z-index: 6;
}

.section-contacts__title>p:before{
	background: unset;
  	border-top: 2px solid rgba(235,54,163,0.99);
  	border-radius: 100%;
  	position: absolute;
  	height: 2.5em;
  	content: '';
  	right: -47vw;
  	left: -47vw;
  	z-index: 6;
}

.section-contacts__title span{
    color: rgba(235,54,163,0.99);
}

.section-hidden__wrapper{
	width: 100%;
	height: 86vh;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 1;
	padding-top: 14vh;	
	background: rgba(34,28,49,0.86);
}

.section-contacts__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 75vh;
}

.section-contacts__wrapper input, .section-contacts__wrapper textarea{
	border-radius: 8px;
	width: 100%;
	margin: 1.5% 0;
	padding: 2% 2%;
}
.section-contacts__wrapper div:last-of-type *{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 30%;
	background: rgba(34,28,49,0.86);
	border: 1px solid rgba(235,54,163,0.9);
	color: white;
	border-radius: 60px;
	text-align: center;
}
.section-contacts__wrapper form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(100%/2.5);
	height: 54%;
}

.section-footer__wrapper{
	display: flex;
	align-items: center;
	width: 100%;
	height: 240px;
	flex-direction: column;
	background: rgba(34,28,49,0.58);
	padding-bottom: 5px;
}

.section-footer__first-line, 
.section-footer__second-line, 
.section-footer__third-line{
	display: flex;
	align-items: center;
	width: 600px;
}

.section-footer__first-line{
	justify-content:center;
	position: relative;
}

.section-footer__first-line > .footer-button__wrapper >.section-footer__button{
	position: absolute;
	top: -2vh;
}
	
.footer-button__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.section-footer__first-line .footer-button__wrapper > .section-footer__button{
	border-radius: 100%;
	padding: 2%;
}

.section-footer__second-line{
	padding: 5em 0 2.5em;
	justify-content: space-between;
}

.section-footer__third-line{
	justify-content:center;
	flex-direction: column;
	color: white;
	font-size: 1em;
	font-weight: 500%;
}

.section-footer__button{
	color: white;
	background: rgba(34,28,49,0.92);
	padding: 12px;
	border-radius: 10% 10px;
	font-size: 2em;
}
.section-footer__button:focus, .section-footer__button:hover{
	background: rgba(235,54,163,0.99);
}