@media only screen and (max-width: 1500px) {

	.section-contacts__title:after {
	    border-bottom-left-radius: 8% 70px;
	}
	.section-contacts__title:before {
	    border-bottom-right-radius: 8% 70px;
	}
	.section-contacts__wrapper form {
		width: 50%;
	} 
}

@media only screen and (max-width: 1300px) {

	.section-projects__nav input{
		width: calc(100%/4);
	}

	.section-contacts__wrapper form {
		width: 70%;
	}	
}

@media only screen and (max-width: 1050px) {

	.nav-image__wrapper {
	    width: unset; 
	    margin-right: 0; 
	    background: rgba(235,54,163,0.99);
	    border-top-left-radius: unset; 
	    border-bottom-left-radius: unset;
	    border-radius: 50%;
	}
	
	.section-about__content {
	    padding-left: 0;
	    flex-direction: column;
	    justify-content: unset;
	    align-items: center;
	}

    .section-about__Me, .section-about__skills {
		width: 80%;
		height: 100%;
		font-size: 2em;
	}
	
	.section-about__Me > p:first-child, 
	.section-about__skills > p:first-child{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    padding-bottom: 5%;
	}
	.section-about__belt {
	    padding-left: unset;
	    width: 100%;
	}
	.section-about__belt > div {
	    margin: 0 auto;
	}
	.section-about__Me, .section-about__skills {
    	width: 100%;
    }
    .section-projects__content a{
		width: calc(70%/2);
	}
}

@media only screen and (max-width: 850px) {
	.main-nav__wrapper{
		height: 40em;
	}

	.main-nav{
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.main-nav__items, .nav-image__wrapper{
	 	margin: 10%;
	}
	.main-nav__items {
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    width: 100%;
        margin: 0.5% auto;
	}
	.main-content__wrapper {
	    margin-top: 31em;
	}
	.section-about__wrapper {
	    transform: translateY(15%);
	}
	.section-about__wrapper {
	    width: 95vw;
	}
}

@media only screen and (max-width: 780px) {
	.section-projects__content a{
		width: 60%;
	}
}

@media only screen and (max-width: 650px) {
	.additional-nav__wrpapper {
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	}

	.additional-nav__left {
	    width: 100%;
	    justify-content: center;
	}

	.additional-nav__right {
	    width: 100%;
	    justify-content: center;
	}
	.section-about__belt > div {
	    justify-content: center;
	    width: 100%;
	}
	.section-about__value {
	    display: inline;
	}
	.about-belt__item {
    	width: 75%;
    }

	.additional-nav__button, .additional-initials{
		padding:1%;
		margin: 1%;
	}

	.section-footer__first-line, .section-footer__second-line, .section-footer__third-line {
	    width: 80%;
	}
}

@media only screen and (max-width: 500px) {
	.additional-nav__wrpapper{	
	    height: 20em;
	}

	.additional-nav__left, .additional-nav__right{ 
	    flex-direction:	column;
	    justify-content: center;
	    align-items: center;
	}
	.main-section__wrapper:before {
	    top: 20em;
	}

    .main-content__wrapper:after {
		bottom: 65%;
	}
    .section-about__wrapper {
	    transform: translateY(30%);
	}
	.section-about__main {
	    padding-bottom: 23%;
	}

	.section-contacts__wrapper div:last-of-type *{
		padding: 2% 5%;
		width: 45%;
	}
}

@media only screen and (max-height: 750px){
	.main-nav__wrapper {
	    height: 30em;
	}
	.main-section__wrapper {
   		flex-direction: column;
	}
	.section-hidden__wrapper {
    	position: unset;
    	margin-top: -120vh;
    	padding-top: 210px;
    	height: unset;
    }
    .section-contacts__wrapper {
	    margin-bottom: 5%;
	    height: 800px;
	}
	.section-footer__wrapper {
    	height: 220px;
    }
    .section-footer__first-line > 
    .footer-button__wrapper >
    .section-footer__button {
	    top: -25px;
	}
}