.section-projects__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	flex-wrap: wrap;
}

.section-projects__content a{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1%;
	width: calc(70%/3.2);
	height: auto;
}

.section-projects__content img{
	width: 100%;
	height: auto;
}